<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon.png%3Fv=2" />
<link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png%3Fv=2" />
<link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/android-chrome-192x192.png%3Fv=2" />
<link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png%3Fv=2" />
<link rel="manifest" href="../img/favicons/site.webmanifest%3Fv=2" />
<link rel="mask-icon" href="../img/favicons/safari-pinned-tab.svg%3Fv=2" color="#5bbad5" />
<link rel="shortcut icon" href="../img/favicons/favicon.ico%3Fv=2" />
<meta name="apple-mobile-web-app-title" content="Lambda Island" />
<meta name="application-name" content="Lambda Island" />
<meta name="msapplication-TileColor" content="#2d89ef" />
<meta name="msapplication-config" content="/img/favicons/browserconfig.xml?v=2" />
<meta name="theme-color" content="#ffffff" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@lambdaisland" />
<meta name="twitter:creator" content="@lambdaisland" />
<meta name="twitter:url" content="https://lambdaisland.com/episodes/introduction-luminus-2" />
<meta name="twitter:title" content="Introduction to Luminus, part 2" />
<meta name="twitter:description" content="We continue our journey through Luminus by building a wiki. In this episode you'll learn how to create the form to edit pages, and handle creating new page revisions. We'll also..." />
<meta name="twitter:image" content="https://i.vimeocdn.com/video/571710768-ec5eeec5b475109060c29ab65281ef530746248367c3445a6d4606d5038f6965-d_1280x720?r=pad" />
<meta name="og:site-name" content="Lambda Island" />
<meta name="og:title" content="Introduction to Luminus, part 2" />
<meta name="og:url" content="https://lambdaisland.com/episodes/introduction-luminus-2" />
<meta name="video:duration" content="496" />
<meta name="og:type" content="video.other" />
<meta name="og:image" content="https://i.vimeocdn.com/video/571710768-ec5eeec5b475109060c29ab65281ef530746248367c3445a6d4606d5038f6965-d_1280x720?r=pad" />
<meta name="og:description" content="We continue our journey through Luminus by building a wiki. In this episode you'll learn how to create the form to edit pages, and handle creating new page revisions. We'll also..." />
<meta name="video:release_date" content="2016-05-13T10:22:48.287Z" />
<title>Lambda Island</title>
<link rel="preload" href="../css/project_discovery.css%3F07E4626E8886EF50FD28CA67FE569812.css" as="style" />
<link rel="stylesheet" href="../css/project_discovery.css%3F07E4626E8886EF50FD28CA67FE569812.css" />
<link rel="stylesheet" href="../css/compiled/ornament.css%3F44CB9048E2A68B0597752D6AB1AAF1EE.css" /><meta name="csrf-param" content="__anti-forgery-token" /><meta name="csrf-token" content="D4DZuFUDKtsGE9q33+bI92lQFYGYZnveQ9RcSXg1DLmKOQMJ9VzrY64PNPhKmZu55oDaEknDe26u+ZzW" /></head>
<body><div id="flash"></div>
<div class="project-discovery_partials__layout_mf_episode">
<div class="project-discovery_partials__left_pane"><a href="../index.html" class="project-discovery_parts__Logo"><img src="../img/new-logo-day.svg%3F1DFDE35924975FA3AA93AB2B5F6D725A" alt="Lambda Island logo" /></a>
<ul class="project-discovery_parts__main_nav">
<li class="project-discovery_parts__nav_item"><a class="project-discovery_parts__a" href="../episodes.html">
<svg fill="none" viewBox="-5 -2 25 25" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" class="project-discovery_assets__icon_big"><path d="M1 1.5L15 10.5L1 19.5V1.5Z" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path></svg>Episodes</a></li>
<li class="project-discovery_parts__nav_item"><a class="project-discovery_parts__a" href="../collections.html">
<svg fill="none" viewBox="0 0 24 25" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" class="project-discovery_assets__icon_big"><path d="M10 3.5H3V10.5H10V3.5Z" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M21 3.5H14V10.5H21V3.5Z" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M21 14.5H14V21.5H21V14.5Z" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M10 14.5H3V21.5H10V14.5Z" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path></svg>Collections</a></li>
<li class="project-discovery_parts__nav_item"><a class="project-discovery_parts__a" href="../login.html">
<svg width="24" height="25" fill="none" xmlns="http://www.w3.org/2000/svg" class="project-discovery_assets__icon_big"><path d="M15 3h4a2 2 0 012 2v14a2 2 0 01-2 2h-4M10 17l5-5-5-5M15 12H3" stroke="#000" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path></svg>Log in</a></li>
<li class="project-discovery_parts__nav_item"><a class="project-discovery_parts__a" href="../register.html">
<svg width="24" height="25" fill="none" xmlns="http://www.w3.org/2000/svg" class="project-discovery_assets__icon_big"><path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2M8.5 11a4 4 0 100-8 4 4 0 000 8zM20 8v6M23 11h-6" stroke="#000" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path></svg>Register</a></li></ul>
<div class="project-discovery_parts__banner"></div></div>
<div class="project-discovery_parts__title_area"><a href="../episodes.html" class="project-discovery_parts__breadcrumb">Episodes<span> /</span></a>
<h1 class="project-discovery_parts__title">Introduction to Luminus, part 2</h1></div>
<div style="grid-area: user;
  height: 3.7rem;"></div>
<div class="project-discovery_parts__control_bar">
<div></div><button class="show-notes-button project-discovery_parts__a project-discovery_parts__control project-discovery_parts__selected" aria-label="Show Notes">
<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="project-discovery_assets__icon_big"><path d="M17.291 3.87a2.828 2.828 0 114 4l-13.5 13.5-5.5 1.5 1.5-5.5 13.5-13.5z" stroke="#000" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path></svg><span>Show Notes</span></button><button class="transcript-button project-discovery_parts__a project-discovery_parts__control" aria-label="Transcript">
<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="project-discovery_assets__icon_big"><path d="M14.291 2.87h-8a2 2 0 00-2 2v16a2 2 0 002 2h12a2 2 0 002-2v-12l-6-6z" stroke="#000" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path><path d="M14.291 2.87v6h6M16.291 13.87h-8M16.291 17.87h-8M10.291 9.87h-2" stroke="#000" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path></svg><span>Transcript</span></button></div>
<div class="project-discovery_episode_views__wrapper">
<article class="project-discovery_episode_views__ep_card project-discovery_parts__flex_2">
<div class="project-discovery_episode_views__temp_video video-wrapper">
<iframe frameborder="0" scrolling="auto" src="https://player.vimeo.com/video/167402573?h=6ae7641a51&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=70655" width="1280" height="720" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="allowfullscreen" title="Introduction to Luminus - part 2"></iframe></div>
<div class="project-discovery_episode_views__description_wrapper">
<p>We continue our journey through Luminus by building a wiki. In this episode you’ll learn how to create the form to edit pages, and handle creating new page revisions. We’ll also come across Cross Site Request Forgery, and learn how to prevent it.</p></div></article>
<aside class="project-discovery_episode_views__sidebar_container show-notes-container project-discovery_parts__flex_1 project-discovery_parts__hidden">
<h2 class="project-discovery_parts__section_heading">Transcript</h2>
<div class="project-discovery_episode_views__sidebar_content">
<p>In the previous episode we created a new Luminus application, set up a
PostgreSQL database, wrote queries to insert and retrieve pages, and added a
route and template to tie it all together. In this episode we’ll finish our
wiki, and with that conclude our grand tour of Luminus.</p>
<p>If you didn’t follow along you can
<a shape="rect" href="https://github.com/lambdaisland/lambwiki/tree/part-1">grab the code from GitHub</a>
instead. Start from the <code>part-1</code> branch, and follow the instructions in the
README to set up your database.</p>
<p>I’m just going to start from where we left off. In Emacs, I’ll open a Clojure
file within the project so I can jack in CIDER and get a REPL.</p>
<p>Let’s have another look of what we have so far. Start the app and open it in a
browser (http://localhost:3000/).</p>
<pre><code class="language-clojure-repl">;; Start a connected REPL. For Emacs/CIDER: M-x cider-jack-in
user&gt; (start)
</code></pre>
<p>We got redirected to <code>/home</code>, but we can’t yet edit the page. We created this
page last time from the REPL, but we can’t expect our users to do the same!</p>
<p>We’ll need two new routes, which we’ll add to <code>home.clj</code>. One that shows the
form to edit a page, and one that handles the form submission. We haven’t used
the POST function before, so don’t forget to refer to it in the namespace
declaration.</p>
<pre><code class="language-clojure">(ns lambwiki.routes.home ,,,)

(defroutes home-routes
  ,,,

  ;; show the form to edit a page
  (GET "/:uri_slug/edit" _)

  ;; submit the form, creating a new revision
  (POST "/:uri_slug" _))
</code></pre>
<p>Last time we set up two database tables to store the pages of the wiki. The
“pages” table contains the uri slug and the title, while the page body is stored
in “revisions”. In hindsight it probably makes more sense to store the page
title together with the body. Let’s add a migration to move it to the revisions
table.</p>
<pre><code class="language-sh">lein migratus create move-page-title-to-revision
</code></pre>
<p>This migration consists of three steps, which, like in the previous episode,
need to be separated with “–;;”. First we add the new column, then copy the
data over, and finally we can drop the old column.</p>
<p>Normally you would also write a “down” migration, which does the opposite, so
you can roll this change back. I’m not going to show the “down” migration, but
you can do it as an exercise. It’s very similar to the one I just wrote, except
now pages and revisions are swapped. Also make sure you get the page title from
the most recent revision.</p>
<pre><code class="language-sql">;; resources/migrations/20160516162634-move-page-title-to-revision.up.sql
ALTER TABLE revisions ADD COLUMN title TEXT;
---;;
UPDATE revisions SET title=pages.title FROM pages WHERE revisions.page_id=pages.id;
--;;
ALTER TABLE pages DROP COLUMN title;
</code></pre>
<p>Now run the migration.</p>
<pre><code class="language-sh">lein run migrate
</code></pre>
<p>That looks good.</p>
<p>Our database is different now, so our queries will look a bit different as well.
Let’s update them to use the new schema. Go to <code>queries.sql</code>, remove <code>title</code>
from the <code>create-page!</code> query, and add it to the <code>create-revision!</code> query
instead. Now only the <code>id</code> and <code>uri_slug</code> come from the <code>pages</code> table, while
<code>body</code> and <code>title</code> will be loaded from the latest revision.</p>
<pre><code class="language-sql">-- resource/sql/queries.sql
-- ...

-- :name create-page! :insert :raw
INSERT INTO pages (uri_slug) VALUES (:uri_slug)

-- :name create-revision! :insert :raw
INSERT INTO revisions (page_id, body, title) VALUES (:page_id, :body, :title)

-- :name find-page-by-uri-slug :query :one
SELECT pages.id, pages.uri_slug, revisions.body, revisions.title
FROM pages, revisions
WHERE pages.id = page_id
AND uri_slug=:uri_slug
ORDER BY revisions.created_at DESC
LIMIT 1
</code></pre>
<p>As I pointed out in the last episode, when the app is already running and you
make changes to <code>queries.sql</code>, you need to make sure they get loaded into the
app. The way to do that is by reevaluating this call to
<code>conman/bind-connection</code>. I’m using Emacs with CIDER, and so I can go to this
namespace, place my cursor behind this form, and press <code>C-x C-e</code> to evaluate it.
More often though I will press <code>C-c C-k</code> which reloads the whole namespace.</p>
<pre><code>;; src/lambwiki/db/core.clj
(conman/bind-connection *db* "sql/queries.sql")
</code></pre>
<p>Alternatively you can reload a namespace from the REPL, by passing the <code>:reload</code>
keyword to <code>require</code>. This is good to know, especially for those moments when
you’re using a plain REPL that isn’t connected to your editor.</p>
<pre><code class="language-clojure-repl">user&gt; (require 'lambwiki.db.core :reload)
</code></pre>
<p>So far we’ve just been putting the ingredients we’ll be needing within easy
reach. Time to cook up some features!</p>
<p>Start by adding an <code>edit</code> button to the <code>wiki-page.html</code> template.</p>
<pre><code class="language-html">  &lt;hr&gt;
  &lt;a class="ui button" href="/{{uri_slug}}/edit"&gt;Edit&lt;/a&gt;
</code></pre>
<p>Clicking the button results in a 404, which isn’t too surpising. Let’s cook up
the form to edit pages.</p>
<p>Make a new template called <code>edit-page.html</code>. You can start by copying over the
<code>wiki-page</code> template. I’m using markup classes from Semantic UI to make the form
look nice. This form will send a POST request to that POST route we defined
earlier. We’ll give it two fields: one for the title, and one for the body of
the page, all the info we need to create a new page revision. We can determine
which page was edited based on the URL the form was submitted to.</p>
<pre><code class="language-html">{% extends "base.html" %}
{% block content %}
&lt;div class="ui container"&gt;
  &lt;h1 class="ui header"&gt;Edit page&lt;/h1&gt;
  &lt;form class="ui form" method="POST" action="/{{uri_slug}}"&gt;
    &lt;div class="ui field"&gt;
      &lt;label for="title"&gt;Title&lt;/label&gt;
      &lt;input type="text" name="title" value="{{title}}"&gt;
    &lt;/div&gt;
    &lt;div class="ui field"&gt;
      &lt;label for="body"&gt;Body&lt;/label&gt;
      &lt;textarea name="body"&gt;{{body}}&lt;/textarea&gt;
    &lt;/div&gt;
    &lt;div class="ui field"&gt;
      &lt;input type="submit" class="ui button" value="Save!"&gt;
    &lt;/div&gt;
  &lt;/form&gt;
&lt;/div&gt;
{% endblock %}
</code></pre>
<p>In the home routes file I can reuse the code for the wiki page route with
minimal changes. We’ll have to make it a bit smarter later on, but for now this
will do.</p>
<pre><code class="language-clojure">(ns lambwiki.routes.home ,,,)

(defn edit-page [page]
   (layout/render
    "edit-page.html" page))

(defroutes home-routes
  ,,,
  (GET "/:uri_slug/edit" [uri_slug]
    (if-let [page (find-page-by-uri-slug {:uri_slug uri_slug})]
      (edit-page page)))
  ,,,)
</code></pre>
<p>So now we have a form and can start editing, which is great because there’s an
important change I’ve been meaning to make to the home page.</p>
<pre><code class="language-markdown">![](/img/lamb.jpg)
</code></pre>
<p>We can submit that, but we haven’t implemented yet what should happen when we
submit the form, so you would expect a 404, indicating this page is missing.
Instead the response is a 403, meaning that somehow we aren’t authorized to
perform this operation.</p>
<p>The reason for this is a little thing called “Cross Site Request Forgery”, a
vulnerability that can plague any unguarded site on the web. Explaining CSRF in
detail would take us too far.</p>
<p>What you need to know is that Luminus tries to protect you by checking a hidden
token submitted in the form against a secret value in the user’s session. This
token needs to be present in every POST request, or the request will be
rejected, resulting in this 403.</p>
<p>The <code>csrf-field</code> markup tag does the trick, and now we get a 404 as expected,
since the route to handle this form submission doesn’t do anything yet.</p>
<pre><code class="language-html">&lt;!-- resource/templates/edit-page.html --&gt;
&lt;form ...&gt;
  {% csrf-field %}
</code></pre>
<p>Now let me show you how to handle that form submission. We need three pieces of
information: the <code>uri_slug</code>, so we can find the right page, and the <code>body</code> and
<code>title</code> of the new revision. The first is pulled from the URI, and the others
are submitted as form data, but Ring makes them all available in a single
<code>:params</code> map inside the request. Compojure’s destructuring makes it easy to
pull them out.</p>
<p>We haven’t used <code>create-revision!</code> yet, so make sure to add it to the namespace.
Finally we render the new version of the page. A common pattern would be to
redirect and let the browser do another request to load the page, but we’re
already on the right URI, so let’s just render the page straight away. One thing
to watch out for is that <code>page</code> now contains the values for the <em>old</em> revision.
That’s no good! We could load the page data again, but in this case <code>params</code> has
all the data we need, so we can use that instead. A nice side effect of simply
using Clojure maps for everything.</p>
<pre><code class="language-clojure">(ns lambwiki.routes.home
  (:require ,,,
            [lambwiki.db.core :refer [find-page-by-uri-slug create-revision!]]))

(defroutes home-routes
  ,,,

  ;; submit the form, creating a new revision
  (POST "/:uri_slug" {{:keys [uri_slug title body] :as params} :params}
    (when-let [page (find-page-by-uri-slug {:uri_slug uri_slug})]
      (create-revision! {:page_id (:id page)
                         :body body
                         :title title})
      (wiki-page params))))
</code></pre>
<p>Nice, we can finally add that cute little lamb. Isn’t it adorable?</p>
<pre><code class="language-markdown">![](/img/lamb.jpg)

## Welcome to Lamb Wiki

The place to be for big and little lambs.
</code></pre>
<p>We added a complete feature now, we’re able to edit the home page. Let’s commit
this to git before we accidentally break it again.</p>
<pre><code class="language-sh">git add -A
git commit
</code></pre>
<p>A key feature of a Wiki is that it lets you easily link to pages which don’t
exist yet. We’ll implement some custom markup for wiki links which looks like
this.</p>
<pre><code class="language-markdown">![](/img/lamb.jpg)

## Welcome to Lamb Wiki

The place to be for [[Big Lambs]] and [[Little Lambs]].
</code></pre>
<hr />
<p>To make these links work, we’ll have to add a custom filter to the templating
system, which you can learn all about in the third and final part of this
Luminus introduction.</p>
<p>If you have any feedback on this episode please send it to
arne@lambdaisland.com. Also make sure to check the show notes, where I’ve added
some interesing links about wikis, and cross site request forgery.</p></div></aside>
<aside class="project-discovery_episode_views__sidebar_container transcript-container project-discovery_parts__flex_1">
<h2 class="project-discovery_parts__section_heading">Show Notes</h2>
<div class="project-discovery_episode_views__sidebar_content">
<h2 id="code">Code</h2>
<p>The code for this episode can be found on Github under <a shape="rect" href="http://github.com/lambdaisland/lambwiki">lambdaisland/lambwiki</a>.</p>
<h2 id="wikis">Wikis</h2>
<p>Wiki has become synonymous with Wikipedia, but the
<a shape="rect" href="http://c2.com/cgi/wiki">first Wiki</a> was actually about patterns in software
development. Wikimedia has a great
<a shape="rect" href="https://commons.wikimedia.org/wiki/File:Ward_Cunningham,_Inventor_of_the_Wiki.webm">video interview with the inventor of the wiki, Ward Cunningham</a>.</p>
<p>Some example pages on Ward’s wiki</p>
<ul>
<li><a shape="rect" href="http://c2.com/cgi/wiki?PersistentDataStructure">Persistent Data Structures</a></li>
<li><a shape="rect" href="http://c2.com/cgi/wiki?LispLanguage">Lisp Language</a></li>
<li><a shape="rect" href="http://c2.com/cgi/wiki?DefinitionOfHomoiconic">Definition of Homoiconic</a></li></ul>
<h2 id="csrf">CSRF</h2>
<p>Cross-site Request Forgery (CSRF) is one of the most common security problems on
the web, together with Cross-site Scripting (XSS). If you’re a professional web
developer you should understand both these exploits and how to prevent them.</p>
<p>The
<a shape="rect" href="https://en.wikipedia.org/wiki/Cross-site_request_forgery">Wikipedia Page on CSRF</a>
gives a good overview of the problems and solutions.</p>
<p>OWASP, an online community for security in free and open source software, has a
<a shape="rect" href="https://www.owasp.org/index.php/Cross-Site_Request_Forgery_%28CSRF%29_Prevention_Cheat_Sheet">very extensive wiki page</a>
that deals with the finer points of CSRF.</p>
<p>Note that our wiki as it stands is wide open to XSS attacks. You can try out
some of the snippets from the
<a shape="rect" href="https://www.owasp.org/index.php/XSS_%28Cross_Site_Scripting%29_Prevention_Cheat_Sheet">OWASP XSS (Cross Site Scripting) Prevention Cheat Sheet</a> to verify this yourself. We’ll talk more about XSS in a future episode.</p>
<h2 id="versions">Versions</h2>
<p>The software used in this episode</p>
<pre><code class="language-sh">$ lein --version
Leiningen 2.6.1 on Java 1.8.0_91 Java HotSpot(TM) 64-Bit Server VM
</code></pre>
<pre><code class="language-clojure">  :dependencies [[org.clojure/clojure "1.8.0"]
                 [selmer "1.0.4"]
                 [markdown-clj "0.9.88"]
                 [ring-middleware-format "0.7.0"]
                 [metosin/ring-http-response "0.6.5"]
                 [bouncer "1.0.0"]
                 [org.webjars/bootstrap "4.0.0-alpha.2"]
                 [org.webjars/font-awesome "4.6.1"]
                 [org.webjars.bower/tether "1.1.1"]
                 [org.webjars/jquery "2.2.2"]
                 [org.clojure/tools.logging "0.3.1"]
                 [compojure "1.5.0"]
                 [ring-webjars "0.1.1"]
                 [ring/ring-defaults "0.2.0"]
                 [mount "0.1.10"]
                 [cprop "0.1.7"]
                 [org.clojure/tools.cli "0.3.3"]
                 [luminus-nrepl "0.1.4"]
                 [org.webjars/webjars-locator-jboss-vfs "0.1.0"]
                 [luminus-immutant "0.2.0"]
                 [luminus-migrations "0.1.2"]
                 [conman "0.5.1"]
                 [org.postgresql/postgresql "9.4-1206-jdbc4"]
                 [luminus-log4j "0.1.3"]
                 [hiccup "1.0.5"]]
</code></pre>
<pre><code>GNU Emacs 25.0.92.2 (x86_64-unknown-linux-gnu, GTK+ Version 3.16.7) of 2016-03-30
CIDER 0.13.0snapshot (package: 20160510.1330)
</code></pre></div></aside></div></div>
<script type="text/javascript" src="../js/compiled/cljs_base.js%3F3F5E9E27E6ED81CC90FAEDFD036C34F5"></script>
<script type="text/javascript" src="../js/compiled/public.js%3F80EFEFFA43E43DC923178A0CDDFE8508"></script>
<script type="text/javascript" src="../highlightjs-10.3.2/highlight.pack.js%3FAD1B6901830314BC4EC306350B5C14C7"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script></body></html>